---
---

@import "{{ site.theme }}";

$hlorange: #fb7e14;

body { 
  background: #333131 !important; 
}

.main_container {
  position: relative;
  min-height: 100vh;
}

#content-wrap {
  padding-bottom: 60px 0;
  width: 90%;
  max-width: $container-max-width;
  margin: 0 auto;
}

header {
  background: rgba(0, 0, 0, 0.1);
  width: 100%;
  border-bottom: 1px dashed $hlorange; //header;
  padding: 20px 0;
  margin: 0 0 20px 0;
}

header h1 {
  color: $hlorange;//$header;
}

header h1::before {
  content: url("../images/pcicon.png") " ";
}

h1, h2, h3, h4, h5, h6 {
  color: $hlorange;
}

footer {
  position: absolute;
  left: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.1);
  width: 100%;
  border-top: 1px dashed $hlorange; //footer;
  padding: 20px 0;
  margin: 20px 0 0 0;
  height: 60px;
}

pre {
  color: $hlorange;
}

th {
  border-bottom: 1px dashed $hlorange;
}

hr {
  border-bottom: 1px dashed $hlorange;
  color: $hlorange;
}
