---
---

@import "{{ site.theme }}";

body { 
  background: #333131 !important; 
}

.main_container {
  position: relative;
  min-height: 100vh;
  width: 90%;
  max-width: $container-max-width;
  margin: 0 auto;
}

header {
  background: rgba(0, 0, 0, 0.1);
  width: 100%;
  border-bottom: 1px dashed $conifer; //header;
  padding: 20px 0;
  margin: 0 0 20px 0;
}

header h1::before {
  content: url("../images/pcicon.png") " ";
}

footer {
  background: rgba(0, 0, 0, 0.1);
  width: 100%;
  border-top: 1px dashed $conifer; //footer;
  padding: 20px 0;
  margin: 20px 0 0 0;
}
